DirectoryIndex index.php index.html

RewriteEngine On

# ----------------------------------------
# index.html -> / に統一
# ----------------------------------------
RewriteCond %{THE_REQUEST} \s(.*/)?index\.html[\s?]
RewriteRule ^(.*/)?index\.html$ /$1 [R=301,L]

# ----------------------------------------
# http -> https に統一
# ----------------------------------------
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

